<div class="bg-footer">
  <div class="container p-5">
    <div class="row text-white text-center">
      <div class="col-md-4">
        <div class="div">
          <p>location</p>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="div">
          <p class="text-uppercase">around the me</p>
          <div class="socials">
            <a href="" target="_blank" class="text-white mx-2"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="" target="_blank" class="text-white mx-2"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a href="" target="_blank" class="text-white mx-2">
              <i class="fa-brands fa-github"></i
            ></a>
            <a href="" target="_blank" class="text-white mx-2">
              <i class="fa-brands fa-youtube"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p class="text-uppercase">about freelance</p>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
  <p class="bg-last-footer text-white py-4 m-0 text-center">
    Copyright © Your Website 2021
  </p>
</div>
