<nav
  class="navbar navbar-expand-lg bg-navbar fixed-top"
  [ngClass]="scrolled ? 'scrolled' : ''"
>
  <div class="container">
    <a
      class="navbar-brand text-uppercase fs-3 fw-bold text-white"
      [routerLink]="['']"
      >start framework</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link fw-bold text-uppercase fs-6 px-2 mx-1"
            href="#"
            [routerLink]="['home']"
            routerLinkActive="text-white bg-link"
            >home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold text-uppercase fs-6 px-2 mx-1"
            href="#"
            [routerLink]="['about']"
            routerLinkActive="text-white bg-link"
            >about</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold text-uppercase fs-6 px-2 mx-1"
            href="#"
            [routerLink]="['portfolio']"
            routerLinkActive="text-white bg-link"
            >portfolio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold text-uppercase fs-6 px-2 mx-1"
            href="#"
            [routerLink]="['contact']"
            routerLinkActive="text-white bg-link"
            >contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
