<div>
  <div class="deteails text-center text-white">
    <p class="text-uppercase fw-bold fs-2 mb-1">contact component</p>
    <div class="icon-star mx-auto py-1">
      <i class="fa-solid fa-star"></i>
    </div>

    <div class="container text-start mt-5">
      <div class="input">
        <input
          class="form-control mb-4"
          type="text"
          placeholder="userName"
          id="userName"
        />
        <label for="userName">userName</label>
      </div>
      <div class="input">
        <input
          class="form-control mb-4"
          type="number"
          placeholder="userAge"
          id="userAge"
        />
        <label for="userAge">userAge</label>
      </div>

      <div class="input">
        <input
          class="form-control mb-4"
          type="email"
          placeholder="userEmail"
          id="userEmail"
        />
        <label for="userEmail">userEmail</label>
      </div>
      <div class="input">
        <input
          class="form-control mb-4"
          type="password"
          placeholder="userPassword"
          id="userPassword"
        />
        <label for="userPassword">userPassword</label>
      </div>

      <div class="text-start">
        <button class="btn btn-success text-capitalize">message</button>
      </div>
    </div>
  </div>
</div>
