<div>
  <div class="deteails text-center text-white">
    <p class="text-uppercase fw-bold fs-2 mb-1">contact component</p>
    <div class="icon-star mx-auto py-1">
      <i class="fa-solid fa-star"></i>
    </div>

    <div class="container text-start my-5 form">
      <div class="input-grp">
        <label class="position-relative" [ngClass]="userName ? 'top-0' : 'top'"
          >UserName:</label
        >
        <input
          [(ngModel)]="userName"
          type="text"
          placeholder="UserName"
          class="form-control border-0 my-2 border-bottom position-relative shadow-none"
        />
      </div>
      <div class="input-grp">
        <label class="position-relative" [ngClass]="userAge ? 'top-0' : 'top'"
          >UserAge:</label
        >
        <input
          [(ngModel)]="userAge"
          type="number"
          placeholder="UserAge"
          class="form-control border-0 my-2 border-bottom position-relative shadow-none"
        />
      </div>

      <div class="input-grp">
        <label class="position-relative" [ngClass]="userEmail ? 'top-0' : 'top'"
          >UserEmail:</label
        >
        <input
          [(ngModel)]="userEmail"
          type="number"
          placeholder="UserEmail"
          class="form-control border-0 my-2 border-bottom position-relative shadow-none"
        />
      </div>

      <div class="input-grp">
        <label
          class="position-relative"
          [ngClass]="userPassord ? 'top-0' : 'top'"
          >UserPassword:</label
        >
        <input
          [(ngModel)]="userPassord"
          type="password"
          placeholder="UserPassword"
          class="form-control border-0 my-2 border-bottom position-relative shadow-none"
        />
      </div>

      <div class="text-start mt-4">
        <button class="btn btn-success text-capitalize">message</button>
      </div>
    </div>
  </div>
</div>
