<div
  class="content-portfolio p-5 position-relative d-flex justify-content-center align-items-center"
>
  <div class="deteails text-center text-white py-5">
    <p class="text-uppercase fw-bold fs-2 mb-1">portfolio component</p>
    <div class="icon-star mx-auto py-1">
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="container mt-5">
      <div class="row g-4">
        <div class="col-md-4">
          <div class="image cursor-pointer">
            <img
              src="assets/imgs/port1.png"
              id="cardImage"
              class="w-100 rounded-3"
              alt=""
            />
            <div class="layer rounded-3">
              <i class="fa-solid fa-plus plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image cursor-pointer">
            <img
              src="assets/imgs/port2.png"
              id="cardImage"
              class="w-100 rounded-3"
              alt=""
            />
            <div class="layer rounded-3">
              <i class="fa-solid fa-plus plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image cursor-pointer">
            <img
              src="assets/imgs/port3.png"
              id="cardImage"
              class="w-100 rounded-3"
              alt=""
            />
            <div class="layer rounded-3">
              <i class="fa-solid fa-plus plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image cursor-pointer">
            <img
              src="assets/imgs/port1.png"
              id="cardImage"
              class="w-100 rounded-3"
              alt=""
            />
            <div class="layer rounded-3">
              <i class="fa-solid fa-plus plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image cursor-pointer">
            <img
              src="assets/imgs/port2.png"
              id="cardImage"
              class="w-100 rounded-3"
              alt=""
            />
            <div class="layer rounded-3">
              <i class="fa-solid fa-plus plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image cursor-pointer">
            <img
              src="assets/imgs/port3.png"
              id="cardImage"
              class="w-100 rounded-3"
              alt=""
            />
            <div class="layer rounded-3">
              <i class="fa-solid fa-plus plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card position-absolute d-none" id="cardShow">\ das</div>
</div>
